html{
  background-color: #333;
  font-family: 'Fira Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
a{
  text-decoration:none;
  color:#369
}
a:hover{
  text-decoration: underline;
}
a:visited{
  color:#369
}

.code{
  color:#fff;
  background-color: #282a36;
  padding: 10px; border: dotted 1px;
  font-family: Consolas, 'Courier New', monospace;
}
.ident{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.menu1{
  border: none;
  width: 200px;
  height: 150px;
}
.menu2{
  border: none;
  width: 200px;
  height: 500px;
}
.maintitle{
  color: #793862;
  font-size: 22px;
  border-bottom: dotted 1px;
  font-weight: bold;
}
.title{
  color: #793862;
  font-size: 18px;
  border-bottom: dotted 1px;
  font-weight: bold;
}
.menu{
  border-bottom: dotted 1px #ccc;
}
.menulink{
  color: #ccc !important;
}

.func{
  color: #50fa7b !important;
}
.type{
  color: #ff79c6;
}
.code .var{
  color: #fff;
}
.var{
  color:#369
}
.const{
  color: #bd93f9;
}
.string{
  color: #f1fa8c;
}
.comment{
  color: #6272a4;
}
.code .object{
  color:#8be9fd
}
.object{
  color:#369
}
.argument{
  color:#ffb86c
}